{% extends 'download_app/base.html' %}
{% block content %}
<div class="todo-list">
	<form action="/view_video/" method="POST">
		{% csrf_token %}
		<div class="video-content">
				<iframe width="550" height="310" src="https://www.youtube.com//embed/{{video.id}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		<div class="video-name-content">
			<h2>{{video.title}}</h2>
			<div class="video-input">
				<table>
					<tr>
						<td><h4>Stat Time:</h4></td>
						<td><input type="text" name="time_start" class="time" placeholder="hh:mm:ss"></td>
					</tr>
					<tr>
						<td><h4>End Time:</h4></td>
						<td><input type="text" name="time_end" class="time" placeholder="hh:mm:ss"></td>
					</tr>
				</table>
			</div>
			
			<div class="video-download">
				<table>
					<tr>
						<td><a href="{% url 'cut_video' %}"><button class="btn btn-success" type="submit" name="Cut">Cut video</button></a></td>
						<td><a  href="/static/download_app/songs/{{video.title}}.mp3" download="{{video.title}}.mp3"><button class="btn btn-success" type="submit" name="download"><i class="fa fa-download"></i> Download</button></a></td>
					</tr>
				</table>
			</div>
		</div>
​	</form>
</div>
​
{% endblock content%}