{% extends 'download_app/base.html' %}
	{% block content %}
		<div class="todo-list">
		<form method="POST" class="register-form" >
			{% csrf_token %}
	        <h1>Register Form</h1>
	      	<br>
	      	<center>
		        <table style="width:65%;margin:auto" class="register-table">
				  <tr>
				    <td>Username</td>
				    <td>{{form.username}} <h6 style="color: #860909">{{form_1.username}}</h6></td>
				  </tr>
				  <tr>
				    <td>Email</td>
				    <td>{{form.email}} <h6 style="color: #860909">{{form_1.email}}</h6></td>
				  </tr>
				  <tr>
				    <td>Password1</td>
				    <td>{{form.password1}} <h6 style="color: #860909">{{form_1.password1}}</h6></td>
				  </tr>
				  <tr>
				    <td>Password2</td>
				    <td>{{form.password2}} <h6 style="color: #860909">{{form_1.password2}}</h6></td>
				  </tr>
				</table>
			</center>
			<br>
	        <button class="btn btn-info" type="submit">Create</button>

		</form>
	</div>
		
	{% endblock %}
